#textdomain wesnoth-Rebellion_During_the_Dark_Age

[scenario]

	id="To_the_Swamps"

	name= _ "Into the Swamps"

	map_data="{campaigns/Rebellion_During_the_Dark_Age/maps/Into_the_Swamps.map}{~campaigns/Rebellion_During_the_Dark_Age/maps/Into_the_Swamps.map}"
    {TURNS 50 40 35}
    next_scenario=Through_the_Swamps
    {DEFAULT_SCHEDULE}

    {INTRO_AND_SCENARIO_MUSIC wanderer.ogg the_dangerous_symphony.ogg}

    [story]
        [part]
            story= _ "We escaped the Imperial army for now and made it to the outskirts of the Swamps of Dread."
            background=story/summer.jpg
        [/part]
	[part]
            story= _ "When we got to them our scouts reported that there were two saurian forces massed ahead of us."
            background=story/summer.jpg
        [/part]
	[part]
	    background=story/wesnoth.png
            show_title=yes
	    {OLD_BATTLE 843 42}
	    {OLD_BATTLE 843 45}
	    {NEW_JOURNEY 871 69}
	    {NEW_JOURNEY 868 102}
	    {NEW_JOURNEY 868 134}
	    {NEW_JOURNEY 864 159}
	    {NEW_JOURNEY 861 185}
	    {NEW_JOURNEY 840 193}
	    {NEW_JOURNEY 812 204}
	    {NEW_JOURNEY 780 201}
	    {NEW_JOURNEY 759 209}
	    {NEW_JOURNEY 749 227}
	    {NEW_BATTLE 731 250}
        [/part]
    [/story]

    [event]
	name=prestart

	[objectives]
	    [objective]
                description= _ "Defeat all enemies"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Girith"
                condition=lose
            [/objective]
	    [objective]
		description= _ "Death of Haldar"
		condition=lose
	    [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
	[recall]
	    id=Haldar
	[/recall]
    [/event]

    [side]
        type=Poacher
        id="Girith"
        canrecruit=yes
        name= _ "Girith"
	random_traits=yes
	unrenamable=yes

        side=1
        controller=human
        {GOLD 200 150 100}
        income=0
        team_name="Rebels"
        user_team_name="Rebels"
        fog=no
        shroud=no
        recruit=Woodsman,Ruffian,Thief,Fighter2,Peasant,Horseman
    [/side]

    [side]
        type=Saurian Ambusher
        id="Clezz"
        name= _ "Clezz"
        canrecruit=yes

        side=2
        {GOLD 150 200 250}
        team_name="Saurians"
        user_team_name="Saurians"
        controller=ai
        fog=no
        shroud=no
        income=0
        recruit=Saurian Soothsayer,Saurian Ambusher,Saurian Skirmisher,Saurian Augur,Saurian Oracle
        [ai]
            grouping=offensive
	    aggression=1-1
#ifdef EASY
	    caution=.30
#endif
#ifdef NORMAL
	    caution=.50
#endif
#ifdef HARD
	    caution=.75
#endif
#ifdef EASY
	    [target]
		id=Haldar
		value=35
	    [/target]
	    [target]
		id=Girith
		value=35
	    [/target]
#endif
#ifdef NORMAL
	    [target]
		id=Haldar
		value=40
	    [/target]
	    [target]
		id=Girith
		value=40
	    [/target]
#endif
#ifdef HARD
	    [target]
		id=Haldar
		value=50
	    [/target]
	    [target]
		id=Girith
		value=50
	    [/target]
#endif
        [/ai]
    [/side]

    [side]
        type=Saurian Soothsayer
        id="Zandler"
        name= _ "Zandler"
        canrecruit=yes

        side=3
        {GOLD 150 200 250}
        team_name="Saurians"
        user_team_name="Saurians"
        controller=ai
        fog=no
        shroud=no
        income=0
        recruit=Saurian Soothsayer,Saurian Ambusher,Saurian Skirmisher,Saurian Augur,Saurian Oracle
        [ai]
            grouping=offensive
            aggression=1-1
#ifdef EASY
	    caution=.30
#endif
#ifdef NORMAL
	    caution=.50
#endif
#ifdef HARD
	    caution=.75
#endif
#ifdef EASY
	    [target]
		id=Haldar
		value=45
	    [/target]
	    [target]
		id=Girith
		value=35
	    [/target]
#endif
#ifdef NORMAL
	    [target]
		id=Haldar
		value=55
	    [/target]
	    [target]
		id=Girith
		value=45
	    [/target]
#endif
#ifdef HARD
	    [target]
		id=Haldar
		value=65
	    [/target]
	    [target]
		id=Girith
		value=55
	    [/target]
#endif
        [/ai]
    [/side]


    #start event
    [event]
        name=start
        [message]
            speaker=Zandler
            message= _ "Loook Clezz. Humansss."
        [/message]
        [message]
            speaker=Haldar
            message= _ "Hail Saurians. We come in peace. We are just passing through. The imperial army is on our tails."
        [/message]
	[message]
	    speaker=Clezz
	    message= _ "We kilz all humanssz."
	[/message]
	[message]
	    speaker=Girith
	    message= _ "Uummm. Lord Haldar, I don't think they care if we come in peace or not."
	[/message]
	[/event]

    [event]
        name=time over

        [message]
            speaker=Girith
            message= _ "It's hopeless, for the imperial army has caught us."
        [/message]

	[endlevel]
	    result=defeat
	[/endlevel]
    [/event]

    [event]
        name=moveto
        side=1
	[filter]
            x=35
            y=12
      [/filter]
    #create units
        [unit]
            id=Reglok
            name= _ "Reglok"
            type=Silver Mage
            side=1
            x=36
            y=11
            gender=male
	    {IS_HERO}
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
        [unit]
            id=Gelgar
            name= _ "Gelgar"
            type=Mage
            side=1
            x=34
            y=12
            gender=male
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            id=Gamlel
            name= _ "Gamlel"
            type=Mage
            side=1
            x=36
            y=12
            gender=male
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            id=Darglen
            name= _ "Darglen"
            type=Mage
            side=1
            x=35
            y=11
	    [modifications]
		{TRAIT_LOYAL}
	    [/modifications]
	[/unit]
    #dialog
      [message]
	    speaker=Reglok
	    message= _ "Who dares to disturb my place of study?"
	[/message]
	[message]
	    speaker=unit
	    message= _ "I am a loyal follower of Lord Haldar. I didn't know anyone lived here. We are trying to escape the imperial army and go to the Grey Woods in order to get allies so that we can topple the King of Wesnoth and restore peace and prosperity to the lands. Would you care to join us?"
	[/message]
	[message]
	    speaker=Reglok
	    message=_ "Well... It seems like a noble cause and i do not approve that the king consorts with necromancers... I pledge my loyalty to you, Lord Haldar. My magic and the magic of my apprentices are at your disposal."
	[/message]
	[message]
	    speaker=Haldar
	    message= _ "Thank you Reglok."
	[/message]
	[message]
	    speaker=narrator
	    message= _ "You may now recruit Magi."
	[/message]
      #allows player to recruit magi
	[command]
	    [allow_recruit]
		type=Mage
	    [/allow_recruit]
	[/command]
    [/event]
	
    [event]
        name=die
        [filter]
            id=Girith
        [/filter]

        [message]
            speaker=Girith
            message= _ "Ugh..."
        [/message]
        [message]
            speaker=Clezz
            message= _ "Humanssz is dead"
        [/message]

	[endlevel]
	    result=defeat
	[/endlevel]
    [/event]

    [event]
        name=die
        [filter]
            id=Haldar
        [/filter]

        [message]
            speaker=Haldar
            message= _ "No. My people need me..."
        [/message]
        [message]
            speaker=Girith
            message= _ "Lord Haldar! He is gone..."
        [/message]

	[endlevel]
	    result=defeat
	[/endlevel]
    [/event]

    [event]
        name=die
        [filter]
            id=Reglok
        [/filter]

        first_time_only=no
	[message]
            speaker=Reglok
            message= _ "No! I Refuse to die now."
        [/message]
    #Create unit
        [unit]
            id=Reglok
            name= _ "Reglok"
            type=Silver Mage
            side=1
            x=35
            y=12
            gender=male
	    {IS_HERO}
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
	[command]
	[scroll_to_unit]
	    id=Reglok
	[/scroll_to_unit]
	[/command]
    [/event]

    [event]
        name=enemies defeated
	[message]
	    speaker=Haldar
	    message= _ "What a shame, they could have been powerful allies."
	[/message]

	[endlevel]
	    result=victory
	    bonus=yes
	    {NEW_GOLD_CARRYOVER 40}
	[/endlevel]
    [/event]
[/scenario]

