#textdomain wesnoth-Rebellion_During_the_Dark_Age
[campaign]
    name= _ "Rebellion During the Dark Age"  
    abbrev= _ "RDtDA"
    description= _ "This campaign outlines the last of the many coupe's that took place in Wesnoth during the Second Dark Age and tells of the last dynasty before the end of the wesnothian kingdom. No bugs exept for in the last scenario when 1 recalled unit doesn't go to the spot i designated for it, started balancing normal.

Feel free to let me know what you think and let me know of any problems you run into with any of the scenarios, or if you have any suggestions concerning balancing the campaign, at http://www.wesnoth.org/forum/viewtopic.php?f=31&t=25538.
                             Thanks,
                                Huston
complete. version 1.2.4
for wesnoth version 1.6.1 and up (I believe)

Special thank you to:
cylosae, A Guy, Mist, doofus-01, zookeeper, CountPenguin, Exasperation, Sapient, Turuk, melinath, Ken_Oh and anyone else that I may have forgotten, for answering questions I had. Most units included were coded by skeleRanger for his campaign Tale of a Mage origionally and just tweaked a little by me. Be sure to check it out if you haven't already."
    difficulties="EASY,NORMAL,HARD"
    difficulty_descriptions={MENU_IMG_TXT2 "units/elves-wood/fighter.png~RC(magenta>red)" _"Fighter" _"(Easy)"} +
    ";*" + {MENU_IMG_TXT2 "units/elves-wood/captain.png~RC(magenta>red)" _"Captain" _"(Normal)"} +
    ";" + {MENU_IMG_TXT2 "units/elves-wood/lord.png~RC(magenta>red)" _"Lord" _"(Hard)"}
    define="CAMPAIGN_REBELLION_DURING_THE_DARK_AGE"
    first_scenario="1_The_beginning"
    image="userdata/data/campaigns/Rebellion_During_the_Dark_Age/images/mage.png"
    icon="userdata/data/campaigns/Rebellion_During_the_Dark_Age/images/dragonstatue.png"

[/campaign]
#ifdef CAMPAIGN_Rebellion_During_the_Dark_Age
[+units]
    {~campaigns/Rebellion_During_the_Dark_Age/units}
[/units]
[binary_path]
    path="data/campaigns/Rebellion_During_the_Dark_Age"
[/binary_path]
{@campaigns/Rebellion_During_the_Dark_Age/scenarios}


#endif
[textdomain]
name="wesnoth-Rebellion_During_the_Dark_Age"
path="data/campaigns/Rebellion_During_the_Dark_Age/translations"
[/textdomain]
campgen="0.25"
python="2.5 (r25:51908, Sep 19 2006, 09:52:17) [MSC v.1310 32 bit (Intel)]"
wxpython="2.8.0.1"
#ifdef CAMPAIGN_REBELLION_DURING_THE_DARK_AGE
[+units]
    {~campaigns/Rebellion_During_the_Dark_Age/units}
[/units]
[binary_path]
    path="data/campaigns/Rebellion_During_the_Dark_Age"
[/binary_path]

{@campaigns/Rebellion_During_the_Dark_Age/scenarios}
#endif