#textdomain wesnoth-Rebellion_During_the_Dark_Age

[textdomain]
name="wesnoth-Rebellion_During_the_Dark_Age"
path="data/campaigns/Rebellion_During_the_Dark_Age/translations"
[/textdomain]


[campaign]
    name= _ "Rebellion During the Dark Age"  
    abbrev= _ "RDtDA"
    description= _ "Wesnoth is in Chaos. It is up to you to end it. Will you succeed, or die trying?
(This campaign outlines the last of the many coupe's that took place in Wesnoth during the Second Dark Age and tells of the last dynasty before the end of the wesnothian kingdom.)
Complete, should be bug free, and should be pretty well balanced.

Feel free to let me know what you think and let me know of any problems you run into with any of the scenarios, or if you have any suggestions concerning balancing the campaign, at http://www.wesnoth.org/forum/viewtopic.php?f=31&t=25538.
                             Thanks,
                                Huston
complete. version 1.3.7
for wesnoth version 1.6.0 and up (I believe)

Special Thanks to everyone that answered my questions on the forums.
Extra Special thanks to SkeleRanger for letting me use units he made for his campaign Tale of a Mage. you should check it out if you haven't tried it yet."

    difficulties="EASY,NORMAL,HARD"
    difficulty_descriptions={MENU_IMG_TXT2 "units/elves-wood/fighter.png~RC(magenta>red)" _"Fighter" _"(Easy)"} +
    ";*" + {MENU_IMG_TXT2 "units/elves-wood/captain.png~RC(magenta>red)" _"Captain" _"(Normal)"} +
    ";" + {MENU_IMG_TXT2 "units/elves-wood/lord.png~RC(magenta>red)" _"Lord" _"(Hard)"}
    define="CAMPAIGN_REBELLION_DURING_THE_DARK_AGE"
    first_scenario="1_The_beginning"
    image="userdata/data/campaigns/Rebellion_During_the_Dark_Age/images/mage.png"
    icon="userdata/data/campaigns/Rebellion_During_the_Dark_Age/images/dragonstatue.png"

    [about]
        title = "Campaign Author"
        [entry]
            name = "Huston"
        [/entry]
    [/about]
    [about]
        title = "Most units originally by:"
        [entry]
            name = "skeleRanger"
            comment = "Most units included were coded by skeleRanger for his campaign Tale of a Mage originally and just tweaked a little by me. Be sure to check it out if you haven't already."
        [/entry]
    [/about]
    [about]
        title = "Miscellaneous"
        [entry]
            name = "cylosae"
            comment = "Answered Questions I had."
        [/entry]
        [entry]
            name = "A Guy"
            comment = "Answered Questions I had."
        [/entry]
        [entry]
            name = "Mist"
            comment = "Answered Questions I had."
        [/entry]
        [entry]
            name = "doofus-01"
            comment = "Answered Questions I had."
        [/entry]
        [entry]
            name = "zookeeper"
            comment = "Answered Questions I had."
        [/entry]
        [entry]
            name = "CountPenguin"
            comment = "Answered Questions I had."
        [/entry]
        [entry]
            name = "Exasperation"
            comment = "Answered Questions I had."
        [/entry]
        [entry]
            name = "Sapient"
            comment = "Answered Questions I had."
        [/entry]
        [entry]
            name = "Turuk"
            comment = "Answered Questions I had."
        [/entry]
        [entry]
            name = "melinath"
            comment = "Answered Questions I had."
        [/entry]
        [entry]
            name = "Ken_Oh"
            comment = "Answered Questions I had."
        [/entry]
    [/about]

[/campaign]
#ifdef CAMPAIGN_Rebellion_During_the_Dark_Age
[+units]
    {~campaigns/Rebellion_During_the_Dark_Age/units}
[/units]
[binary_path]
    path="data/campaigns/Rebellion_During_the_Dark_Age"
[/binary_path]
{@campaigns/Rebellion_During_the_Dark_Age/scenarios}
{@campaigns/Rebellion_During_the_Dark_Age/images}


#endif
[textdomain]
name="wesnoth-Rebellion_During_the_Dark_Age"
path="data/campaigns/Rebellion_During_the_Dark_Age/translations"
[/textdomain]
campgen="0.25"
python="2.5 (r25:51908, Sep 19 2006, 09:52:17) [MSC v.1310 32 bit (Intel)]"
wxpython="2.8.0.1"
#ifdef CAMPAIGN_REBELLION_DURING_THE_DARK_AGE
[+units]
    {~campaigns/Rebellion_During_the_Dark_Age/units}
[/units]
[binary_path]
    path="data/campaigns/Rebellion_During_the_Dark_Age"
[/binary_path]

{@campaigns/Rebellion_During_the_Dark_Age/scenarios}
{@campaigns/Rebellion_During_the_Dark_Age/images}

#endif
